<style >
    .align_center{
    margin-top: 130px;
  padding-left:30%;
}
</style>
<div class ="container align_center">
  <%= form_for  @doc   do|f| %>
  <div class="form-group">
  <%= f.label :title, class: "control-label" %>
  <%= f.text_field :title, class: "form-control", :style=>"width:270px;"  %>
</div>
 <div class="form-group">
  <%= f.label :content, class: "control-label" %>
  <%= f.text_area :content, class: "form-control", :style=>"width:370px;" %>
  </div>
  <div class="form-group">
  <%= f.submit 'Create', :class => "btn btn-info" %>
</div>
<%end%>
</div>


 