
<div class="container" id="index">
   <%= button_to "Create doc", new_doc_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn  btn_color ", :method => :get %>
    <% @docs.each do |doc| %>
    <h2>
        <%= link_to doc.title, doc,:class=>"link_color"%>
    </h2>
    <p><strong>Glympse of content: &nbsp;</strong>
        <%= truncate(doc.content, length:50) %>
    </p>
    <p><strong>Created date: &nbsp;</strong>
        <%= time_ago_in_words(doc.created_at) %>
    </p>
    <%end%>
</div>
<div class = "container page_container"><%= will_paginate @docs, :previous_label => '<<', :next_label => '>>', :class=>"my_pagination" %></div>
