<style >
    .align_center{
    margin-top: 150px;
  padding-left:40%;
}
</style>
<% if @docs.count == 0 %>
<div class="align_center">
<h2>&nbsp; &nbsp;&nbsp;Get started</h2>
<%= link_to "Create your first document", new_doc_path, :class => "btn btn-info",:style =>"border-radius:20px;"%>
</div>
<%end%>
      <div class="container">
<br>
    <% @docs.each do |doc| %>
    <div class = "indexPage ">
        <h2>
        <%= link_to doc.title, doc,:class=>"link_color"%>
    </h2>
    <p><strong>Glympse of content: &nbsp;</strong>
        <%= truncate(doc.content, length:50) %>
    </p>
    <p><strong>Created date: &nbsp;</strong>
        <%= time_ago_in_words(doc.created_at) %>
    </p>
    </div>
    
    <%end%>
</div>
<div class = "container page_container"><%= will_paginate @docs, :previous_label => '<<', :next_label => '>>', :class=>"my_pagination" %></div>
