<!DOCTYPE html>
<html>

<head>
    <title>FileAmbry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.jpeg' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>

</style>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-info justify-content-center fixed-top" role="navigation">
        <%= link_to "FileAmbry", welcome_index_path, :class=>"navbar-brand ml-1"%>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end  " id="navbarCollapse" style="margin-right: 20px;">
            <ul class=" navbar-nav   ">
                <% if user_signed_in?%>
                <li class="active nav-item">
                    <%= link_to "My docs", docs_path, :class => "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "Create Doc", new_doc_path, :class => "nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Signout", destroy_user_session_path, :class => "nav-link", method: :delete%>
                </li>
                 <li class="nav-item">
                    <%= link_to "Edit Profile", edit_user_registration_path, :class => "nav-link" %>
                </li>
                <%else %>
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, :class => "nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Signup", new_user_registration_path, :class => "nav-link"%>
                </li>
                 <li class="nav-item dropdown ">
                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Welcome Page</a>
                    <div id="color_text" class="dropdown-menu bg-info">
                        <a href="#About" class="dropdown-item" >About</a>
                        <a href="#Testimony" class="dropdown-item">Testimony</a>
                         <a href="#Contact" class="dropdown-item">Contact</a>
                    </div>
                </li>
                <%end%>
            </ul>
        </div>
    </nav>

    <p class="notice">
        <%= notice %>
    </p>
    <p class="alert">
        <%= alert %>
    </p>
    <progress value="0" class="progress-bar-striped  bg-danger" style = "width:100%; height:4px;position: fixed; z-index: 1;color:blue"></progress>
    <%= yield %>
<br>
<!-- Footer -->
<footer id="Contact"class="page-footer  pt-3" style="color:white">
<div class="row text-center">
    <div class="col-sm-4 ">
<button id= "btn-radius"class = "btn-sm btn-default" onclick="copyContact('#p1')" style =" font-size: 1vw;" >Click to copy</button>
<span style =" font-size: 1vw;" >&nbsp;contact us @ &nbsp;</span>
<span id="p1" style =" font-size: 1vw;">99988786786</span>
    </div>
    <div class="col-sm-8">
<span style = "color:black;"><small><sup>*</sup>links wont work</small></span>
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        
        </div>
</div>
</footer>
<!-- Footer -->

<div class="modal fade" id="copyContactModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>number copied to your clipboad</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</body>

</html>